@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700&display=swap");

*{
    font-family: "Roboto Flex", sans-serif;

}

html {
    font-size: 18px;
}

div {
    position: relative;
}


.logo-container {
   float: left;

}

.form-container {
   float: left;
   max-width: 550px;
}

.form-group {
    margin: 20px auto;
}
 input {
     display: block;
     height: 30px;
     width: 100%;
     margin-top: 15px;
     
 }


 input.input-checkbox {
     display: inline;
     height: 30px;
     width: 30px;
     margin-top: 0%;
 }


 .button-container {
     float: left;
     width: 30%;
 }

 .check-container {
     display: inline-block;
     width: 70%;
 }
 
 button {
     background-color: white;
     border: 1px solid black;
     width: 70%
 }

 ul {
     columns: 2;
     list-style: none;
 }

 ul li::before {
     content: "\2022";
     color: aquamarine;
     font-weight: bold;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
 }

 .show-password {
     position: absolute;
     right: 0%;
     top: -8px;
     color: aquamarine;
     height: 30px;
 }

 .show-password img {
     max-width: 30px;
     position: relative;
     top: 5px;
     left: -5px;
 }

