main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0%;
    display: inline-block;
}

h1 {
    margin-left: 20%;
    display: inline-block;
    font-size: 40px;
}

.image {
   float: left;

}

form {
   float: left;
   max-width: 550px;
}
 input {
     display: block;
     height: 30px;
     width: 100%;
     margin-top: 0%;
     
 }

 .box {
     display: inline;
    
 }

 input.input-checkbox {
     display: inline;
     height: 30px;
     width: 30px;
     margin-top: 0%;
 }


 .button-container {
     float: left;
     width: 30%;
 }
 
 button {
     margin-bottom: 30px;
     padding: 15px 40px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     background-color: white;
     border: solid 1px black;
 }

 ul {
     columns: 2;
     list-style: none;
 }

 ul li::before {
     content: "\2022";
     color: aquamarine;
     font-weight: bold;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
 }

 .show-password {
     position: absolute;
     right: 0%;
     top: -8px;
     color: aquamarine;
     height: 30px;
 }

 .show-password img {
     max-width: 30px;
     position: relative;
     top: 5px;
     left: -5px;
 }
